.container {
    max-width: 1295px;
    margin: 0 auto;
    padding: 20px;
    border: dashed 4px orange;
   }
.orange {
    color: orange;
    font-weight: bold;
}
.container h1{
    color: blue;
}

.navbar{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
    border-bottom: solid 3px orange;
}

.nav-links{
    color: white;
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.justification {
    text-align: center; 
    margin-top: 50px; 
}

.blue{
    color: rgb(116, 116, 181);
}

.choice {
    font-size: 24px; 
    font-weight: bold;
    color: #aeb2be; 
}

.jus{
    color: rgb(116, 116, 181);
    font-size: 18px;
}
