*{
    font-family: sans-serif;
}

.container {
    max-width: 1295px;
    margin: 0 auto;
    padding: 20px;
}

.section{
    border: dashed 4px orange;
    margin-bottom: 50px;
    padding: 20px;
}

.orange {
    color: orange;
    font-weight: bold;
}
.container h1{
    color: blue;
}

.navbar{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
    border-bottom: solid 3px orange;
}

.nav-links{
    color: white;
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 19px;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.justification {
    text-align: center; 
    margin-top: 50px;
}

.blue{
    color: rgb(116, 116, 181);
}

.choice {
    font-size: 24px; 
    font-weight: bold;
    color: #aeb2be; 
}

.jus{
    color: rgb(116, 116, 181);
    font-size: 18px;
}

/* --------------Atelier 2------------------- */


.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.card{
    width: 25%;
    background-color: white;
    border: solid 2px orange;
    border-radius: 10px;
    position: relative;
    margin-bottom: 50px;
}
.card .st{
    color: blue;
}

.card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.card h3 {
    color: orange;
    font-size: 18px;
    margin-top: 10px;
}

.card .bas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.card .tex{
    padding: 0 15px;
}

.card .bas span{
    color: orange;
    font-weight: bold;
    font-size: 25px;
}

/* ---------------Atelier 3---------------------- */


.gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 250px); 
    gap: 10px;
    padding: 10px;
}


.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item2{
    grid-column: 2 ;
    grid-row: 1 /3 ;
}


.item12{
    grid-row: 3/5;
    grid-column: 3/5;
}

.item8{
   grid-column: 4/6;
}


/* ------------------Atelier 4 ---------------------- */

.containerr{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.services{
    border: solid 2px blue;
}

.services h3{
    color: blue;
    padding: 15px;
    font-size: 24px;
}
.services ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    margin-bottom: 100px;
}
.services li {
    padding: 10px;
    border-bottom: solid 1px blue;
    color: orange;
}
.selected{
    display: flex;
    justify-content: space-between;
}

.foo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.foo p{
    color: orange;
    font-size: 20px;
}
.addser{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}


.details{
    align-self: start;
    border: solid 2px blue;
    padding: 20px;
}

.details .info{
    color: orange;
    font-size: 20px;
}

.details .info-mail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.details .info-mail a {
    text-decoration: none;
    color: inherit; 
}


.details .info-phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.details .buttons{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    border: none;
}


.details .buttons .delete{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.details .buttons .add{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

/* -------------------------------------------------------------------- */


.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.invoice{
    border: solid 2px blue;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}





